# Node modules
node_modules/

# Environment variables
.env

# Logs
*.log

# Docker Compose file
docker-compose.yml

# IDE files
.vscode/
.idea/

# OS files

Thumbs.db

# Uploads directory
public/uploads/*
!public/uploads/.gitkeep